.font-family {
    font-family:Arial, Helvetica, sans-serif;
}
.font-syle {
    font-style:normal;
}
.font-size {
    font-size:medium;
}
h1 {
    list-style-position:inside;
}
body {
    background-color:rgb(216, 140, 114) ;
    text-align: center;
}
a {
    color:rgb(110, 23, 23)
}
h1 {
    color:saddlebrown
}
h3 {
    color:rgb(152, 86, 38)
}
ul {
    list-style-position:inside;
}
